@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Volkhov:wght@700&display=swap');

:root {
  --primary-color: #DF6951;
  --secondary-color: #6246E5;
  --text-color: #5E6282;
  --heading-color: #181E4B;
  --yellow-color: #F1A501;
  --light-bg: #DFD7F9;
  --white: #FFFFFF;
  --black: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--text-color);
  background-color: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Volkhov', serif;
  color: var(--heading-color);
}
