server:
  port: 8080
  servlet:
    context-path: /api

spring:
  datasource:
    url: ${DBMS_CONNECTION:jdbc:mysql://localhost:3306/quanh}
    driverClassName: "com.mysql.cj.jdbc.Driver"
    password: 12092001
    username: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

jwt:
  signerKey: "1TjXchw5FloESb63Kc+DFhTARvpWL4jUGCwfGWxuG5SIf/1y/LgJxHnMqaF6A/ij"
  valid-duration: 3600 # in second
  refreshable-duration: 36000 # in seconds

mailServer:
  host: smtp.gmail.com
  port: 587
  email: mailsender.tutorials.b2a@gmail.com
  password: Admin@123
  protocol: smtp
  isSSL: false
